.App {
  text-align: center;
  background-color: #84a59d;
}

.App-component {
  margin-bottom: -100rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 /* Header */
.App-header {
  background-color: #f1cbc6;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
}

.App-header-name {
  color: #84a59d;
  margin-left: 1rem;
  display: inline-block;
  flex-direction: column;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.App-header-name-text {
  margin-top: -0.1rem;
  margin-bottom: -0.5rem;
}

.App-header-nav {
  text-decoration: none;
}

 /* About page */
.App-bio {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.App-bio-text {
  color: #f1cbc6;
  padding: 5rem;
  margin-top: -1.5rem;
  font-size: 2rem;
}

.App-bio-image {
  max-height: 60vh;
  max-width: 55vh;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

 /* Work page */
.App-work-block {
  margin-bottom: 10rem;
}

.App-work-h1 {
  color: #f1cbc6;
  font-size: 6rem;
  margin-left: -20rem;
}

.App-work-h2 {
  font-size: 2rem;
  margin-top: -7rem;
  margin-left: -12rem;
}

.App-work-subtitle {
  margin-left: 20rem;
  margin-right: 5rem;
  text-align: left;
  font-style: italic;
}

.App-work-para {
  margin-left: 20rem;
  margin-right: 5rem;
  text-align: left;
  font-weight: 700;
}

.App-work-link {
  color: #000000;
}

 /* Contact page */
.App-contact {
  color: #f1cbc6;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  margin-right: 2rem;
  margin-top: -2rem;
}

.App-contact-links {
  padding-bottom: 2rem;
}

.App-contact-para {
  color: #f1cbc6;
  font-size: 2rem;
  margin-left: 4rem;
  margin-top: 10rem;
}

.Link-text {
  text-decoration: none;
  color: #f1cbc6;
  text-align: left;
}

.Link-text-big {
  font-size: 6rem;
  margin-left: 2rem;
}

.Link-text-small {
  color: #000000;
  font-size: 2rem;
  margin-top: -7rem;
  margin-left: 5rem;
  font-weight: bold;
}

.App-link {
  color: #000000;
  justify-content: space-between;
  padding: 1em;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.App-link:active {
  text-decoration: underline;
}

.App-not-found-page {
  padding-bottom: 20rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 800px){
  .App {
    text-align: center;
    background-color: #f1cbc6;
  }
  
  .App-component {
    padding-bottom: 5rem;
  }

  /* Header */
  .App-header {
    background-color: #84a59d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .App-header-name {
    color: #f1cbc6;
    margin-left: -8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
  }
  
  .App-header-name-text {
    margin-top: -0.1rem;
    margin-bottom: -0.5rem;
    padding: 0.5rem;
  }

  .App-header-nav {
    margin-left: -2rem;
  }

  /* About page */
  .App-bio {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 9rem;
  }
  
  .App-bio-text {
    color: #000000;
    padding-top: 5rem;
    padding-left: 2rem;
    margin-top: -1.5rem;
    font-size: 1.5rem;
    
  }
  
  .App-bio-image {
    display: none;
  }

    /* Work page */
  .App-work-block {
    margin-bottom: 12rem;
  }
  
  .App-work-h1 {
    color: #84a59d;
    font-size: 6rem;
    margin-left: -10rem;
    margin-top: 2rem;
  }
    
  .App-work-subtitle {
    margin-left: 2rem;
    margin-right: 5rem;
  }
    
  .App-work-para {
    margin-left: 2rem;
    margin-right: 5rem;
  }
    
  /* Contact page */
  .App-contact {
    color: #f1cbc6;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 2rem;
  }
  
  .App-contact-links {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  
  .App-contact-para {
    display: none
  }
  
  .Link-text {
    text-decoration: none;
    color: #84a59d;
    text-align: left;
  }
  
  .Link-text-big {
    font-size: 5rem;
    margin-left: 1rem;
    margin-bottom: -3.2rem;
  }
  
  .Link-text-small {
    color: #000000;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 1.4rem;
    margin-bottom: -1rem;
    font-weight: bold;
  }
}
